github "elliottminns/CoinKit" "master"
github "SwiftyJSON/SwiftyJSON" "4.0.0"
github "freshOS/Stevia" "4.1.0"
github "kishikawakatsumi/KeychainAccess" "v3.1.0"
github "roberthein/TinyConstraints" "3.1.0"
github "mxcl/PromiseKit" ~> 6.0
github "akosma/SwiftMoment" "master"
github "blochberger/QRCode" "master"
